USE [Fanavaran221-TestAnsari]
GO
/****** Object:  StoredProcedure [dbo].[spMissionUserSel_Clean]    Script Date: 6/22/2025 5:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[spMissionUserSel_Clean] @EmpIdRef INT,
@StartDate VARCHAR(10)='',
@EndDate VARCHAR(10)=''  ,@CompanyId INT =-1 
As

declare @maxDistance as int  , @fromDate varchar(10) , @toDate varchar(10) 

--set @empId = 936
set @maxDistance=300
-- بدست اوردن روز قبل و روز بعد بازه تاریخی 
set @fromDate = (select [per].[CalcYesterdayShamsi](@StartDate))
set @toDate  = ( select [per].[CalcTomorrowShamsi]( @EndDate ))
-- استخراج فرم کارها برای این تاریخ
create table #myFormWork(
	Id int,
	EmpIdRef varchar(10),
	Stime varchar(10),
	EndTime varchar(10),
	EzafeKAr varchar(10),
	PostFrom int,
	PostTo int,
	Dsc varchar(1000),
	FormDate varchar(10),
	Distance int,
	prjCode varchar(20),
	Tomorrow varchar(10),
	YesterDay varchar(10),
	FromPost  varchar(40),
	ToPost  varchar(40),
	HarkatHamanRoz bit,
	Mission int,
	IsMission bit,
	MisCode tinyint
)
insert into   #myFormWork(Id , EmpIdRef , Stime , EndTime , EzafeKAr , Dsc , FormDate , Distance , prjCode , FromPost , ToPost  , HarkatHamanRoz, Tomorrow , YesterDay , Mission , IsMission , PostFrom , PostTo)
select  w.Srl , w.Srl_Pm_Ashkhas  
,CASE WHEN LEN(RIGHT(BeginWorkSat, CHARINDEX(':', REVERSE(BeginWorkSat)) - 1)) = 1 THEN LEFT(BeginWorkSat, CHARINDEX(':', BeginWorkSat)) + '0' + RIGHT(BeginWorkSat, CHARINDEX(':', REVERSE(BeginWorkSat)) - 1) ELSE BeginWorkSat END AS BeginWorkSat
,CASE WHEN LEN(RIGHT(EndWorkSat, CHARINDEX(':', REVERSE(EndWorkSat)) - 1)) = 1 THEN LEFT(EndWorkSat, CHARINDEX(':', EndWorkSat)) + '0' + RIGHT(EndWorkSat, CHARINDEX(':', REVERSE(EndWorkSat)) - 1) ELSE EndWorkSat END AS EndWorkSat
,CASE WHEN LEN(RIGHT(EzafeKAr, CHARINDEX(':', REVERSE(EzafeKAr)) - 1)) = 1 THEN LEFT(EzafeKAr, CHARINDEX(':', EzafeKAr)) + '0' + RIGHT(EzafeKAr, CHARINDEX(':', REVERSE(EzafeKAr)) - 1) ELSE EzafeKAr END AS EzafeKAr
, w.WorkFormDis    , w.WorkFormTarikh  , d.Distance , w.Srl_HazineCode   
 , p.Name as FromPost , p2.Name as ToPost ,w.HarkatHamanRoz as HarkatHamanRoz ,   (select [per].[CalcTomorrowShamsi](w.WorkFormTarikh)) as Tomorrow ,(select [per].[CalcYesterdayShamsi](w.WorkFormTarikh)) as YesterDay , 1 , case when d.distance >= 50 then 1 else 0 end,
 w.Srl_Pm_Post_From , w.Srl_Pm_Post_To
from per.WorkForm as w
join per.pm_Distance as d
on d.Srl_Post1 = w.Srl_Pm_Post_From and d.Srl_Post2 = w.Srl_Pm_Post_To
join  per.Pm_post as p
on p.Srl = w.Srl_Pm_Post_To
join  per.Pm_post as p2
on p2.Srl = w.Srl_Pm_Post_From
where  w.WorkFormTarikh between @fromDate and @toDate and (Srl_Pm_Ashkhas=@EmpIdRef OR @EmpIdRef=-1)
order by WorkFormTarikh

-- بدست آوردن روزهایی که فرم کار پر کرده به همراه ماکس فاصله و مین ساعت شروع و تاریخ فردا و دیروز
;WITH AggregatedData AS
(
SELECT EmpIdRef, YesterDay, MAX(Distance) AS distance, FormDate, Tomorrow,
SUM( ISNULL( CAST(SUBSTRING(ezafekar, 0, CHARINDEX(':', ezafekar)) AS INT) * 60 + CAST(SUBSTRING(ezafekar, CHARINDEX(':', ezafekar) + 1, LEN(ezafekar)) AS INT), 0) ) AS SumEzafe_FormWork,
MAX(CAST(HarkatHamanRoz AS TINYINT)) AS HarkatHamanRoz,
max(CAST(replace(EndTime, ':','') as int)) as EndTimeMax ,
min( CAST(replace(REPLACE(STime , ':','') , '/','') as int)) as STimeMin  ,
Dsc,
max(PostFrom) as PostFrom ,
max(PostTo) as PostTo,
MAX(prjCode)as prjCode,
max(FromPost) as FromPost , 
MAX(ToPost) as ToPost,
MisCode

FROM #myFormWork GROUP BY EmpIdRef, YesterDay, FormDate, Tomorrow  , Dsc , MisCode)

SELECT  EmpIdRef, YesterDay, distance as maxDistance, FormDate, 
Tomorrow, SumEzafe_FormWork, HarkatHamanRoz , EndTimeMax , STimeMin , PostFrom , PostTo, Dsc , prjCode , FromPost , ToPost , 1 as HasFormWork , 0 as IsMission  , MisCode
into #DistanceTbl FROM AggregatedData ORDER BY FormDate;

update #DistanceTbl set IsMission = 1 where maxDistance >= 50




-- ایجاد جدول بدست امده برای روزهای بعداز فرم کار 

select  
	dt.EmpIdRef ,
	dt.maxDistance ,
	dt.FormDate as YesterDay , 
	dt.Tomorrow as FormDate , 
	(select per.CalcTomorrowShamsi(dt.Tomorrow)) as Tomorrow , 
	dt.SumEzafe_FormWork , 
	dt.HarkatHamanRoz,
	dt.EndTimeMax , 
	dt.STimeMin , 
	dt.PostFrom , 
	dt.PostTo , 
	dt.Dsc , 
	dt.PrjCode , 
	dt.FromPost , 
	dt.ToPost , 
	dt.HasFormWork , 
	dt.IsMission , 
	dt.MisCode , 

case when (maxDistance >= @maxDistance) then 1
	 when EndTimeMax >= 1600 and maxDistance>=140 then 1
	 else 0 end as CanBackToday,
case when dt.maxDistance>=@maxDistance and ad.ArrivedDate is not null and ad.ArrivedDate<> @toDate then 1 
	when (dt.maxDistance>=140 and dt.maxDistance<@maxDistance and ad.ArrivedDate is not null and ad.ArrivedDate<> @toDate) then 0.5 else 0 end as TMission  into #TomorrowTbl1
from  #DistanceTbl as dt
left join per.FormWorkArriveDetail as ad
on ad.ArrivedDate=dt.Tomorrow and ad.EmpIdRef = dt.EmpIdRef

delete from #TomorrowTbl1 where TMission <= 0


select   dt.EmpIdRef ,  dt.maxDistance , (select per.CalcYesterdayShamsi(dt.YesterDay) ) as YesterDay , dt.YesterDay as FormDate , dt.SumEzafe_FormWork  , dt.FormDate as Tomorrow  , dt.EndTimeMax , dt.STimeMin, dt.PostFrom , dt.PostTo, dt.Dsc , dt.PrjCode , dt.FromPost , dt.ToPost , 
case when dt.HarkatHamanRoz = 0 then 1 else 0 end as OnDestination  , 0.5 as YMission   into #YesterDayTbl
from  #DistanceTbl as dt
left join (select * from #DistanceTbl where maxDistance >=50) as dt2
on dt.EmpIdRef = dt2.EmpIdRef and dt.YesterDay = dt2.FormDate
where dt2.FormDate is null and  dt.STimeMin<=800 and dt.maxDistance>=140 and dt.FormDate > @StartDate


select * from #YesterDayTbl
select * from #TomorrowTbl1